#webstorm
.idea
*.iml
modules.xml
vcs.xml
.server-crashes-cache

#project
node_modules
addon-resources/*
resources
gambitv-cache
source/core/server/config.*
source/core/client/modules.json
source/core/shared/config
tsconfig.tsbuildinfo
update.json
libnode.dll
# gambit-core

#altv-server
cache
crashdumps
modules
data
altv-server*
altv-crash-handler*
start.sh
server.log
server.cfg
dist
server.toml